{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">Contact Application</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item mr-5">
                <a class="nav-link" href="#">About Us</a>
            </li>
        </ul>

        <form class="d-flex" id="search-form">
                <input class="form-control me-2" type="search" placeholder="Search Name" aria-label="Search">
                <button class="btn btn-outline-success ml-1" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="jumbotron">
            <p class="lead font-italic ">
                Add A New Contact
                <a href="{% url 'add-contact'%}"><i class="fas fa-plus-square ml-3"></i></a>
            </p>

            <hr class="my-4">


            <div class="table-reponsive">

                <table class="table table-bordered table-dark">

                    <thead>

                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Relationship</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Address</th>
                    </tr>

                    {% for contact in contacts reversed %}


                    </thead>
                    <a href="#">

                    <tbody>

                    <tr>
                        <th scope="row">{{contact.id}}</th>
                        <td>{{contact.fullname | title}}</td>
                        <td>{{contact.relationship | title}}</td>
                        <td>{{contact.email | title}}</td>
                        <td>{{contact.phone | title}}</td>
                        <td>{{contact.address | title}}</td>
                    </tr>
                </a>
                {% endfor %}

                    </tbody>

                </table>


            </div>
        </div>
    </div>

</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>